.file-input-container {
    margin: 10rem 20rem; /* 5rem from top and 3rem from left */
    position: relative;
  }
  
  .custom-file-input {
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    background-color: #1F1F22;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    display: inline-block;
  }
  
  .custom-file-input:hover {
    background-color: #1F1F22; /* Darker green on hover */
  }
  
  input[type="file"] {
    display: none; /* Hide the original file input */
  }
  
  .label-file-input {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    background-color: #1F1F22;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .label-file-input:hover {
    background-color: #1F1F22; /* Darker green on hover */
  }
  